<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script src="prueba/enviaProducto.js"></script> -->
<script src="alert.js"></script>
<!-- <script src="validateinputs.js"></script> -->
</body>
</html>
